.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  width: 150px;
  background-color: #1a1a1a;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  transition: width 0.3s;
}

.navbar:hover {
  width: 200px;
}

.navbar-list {
  list-style-type: none;
  padding: 0;
}

.navbar-list li {
  text-align: left;
  margin: 0;
  padding: 0;
}

.navbar-list li a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 15px 20px;
  transition: background-color 0.3s;
}

.navbar-list li a:hover {
  background-color: #444;
}

.navbar-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
  cursor: pointer;
  color: cornflowerblue;
  z-index: 2;
}