.navbar-icon {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 24px;
  cursor: pointer;
  color: cornflowerblue;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  width: 100px;
  background-color: #1a1a1a;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  transition: width 0.3s;
  z-index: 2;
}

.navbar:hover {
  width: 150px;
}

.navbar-list {
  list-style-type: none;
  padding: 0;
}

.navbar-list li {
  text-align: left;
  margin: 0;
  padding: 0;
  position: relative;
}

.navbar-list .navbar-link {
  text-decoration: none;
  cursor: default;
  color: #fff;
  display: block;
  padding: 15px 20px;
  transition: background-color 0.3s;
}

.navbar-list .navbar-link:hover {
  background-color: #444;
}

.navbar-list li > ul {
  display: none;
  list-style-type: none;
  position: absolute;
  left: 100%;
  top: 0;
  min-width: 150px;
  background-color: #1a1a1a;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}

.navbar-list li:hover > ul {
  display: block;
}

.navbar-list li > ul > li a {
  padding: 10px 15px;
}